.add-credential-modal {
    &__modal-step-ruler {
        height: 2px;
        width: 100%;
        border-radius: 2px;
        &--purple {
            background-color: $logo-purple;
        }
        &--blue {
            background-color: $logo-blue;
        }
        &--gray {
            background-color: var(--border-color);
        }
    }
}
